input:invalid {
    animation: shake 0.5s;
}


@keyframes shake {
    25% {transform: translateX(8px) ;}
    50% {transform: translateX(-10px) ;}
    75% {transform: translateX(8px) ;}
}

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    background: black;
}

body {
    width: 100%;
    min-height: 100vh; 
    display: flex ;
    justify-content: center;
    align-items: center;
}

section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgb(0, 204, 255), black );
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

section span{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: rgb(15, 15, 15);
    z-index: 2;
    transition: 1.5s;
}

section span:hover {
    background: rgb(0, 204, 255);
    transition: 0s;
}

section .wrapper {
    position: absolute;
    color: white;
    background: black;
    display: flex;
    z-index: 1000;
    width: 500px;
    height: 100% auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    padding: 40px 30px;
    text-align: center;
}

h2 {
    text-align: center;   
}

p {
    text-align: center;
    padding: 4px;
}

.name {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:2px;
}

.form-group input {
    justify-content: center;
    align-items: center;
    width: auto;
    margin: auto;
}

.name input {
    display: flex;
    width: 45%;
    align-items: left;
}

/* for the login page */

.text {
    align-items: center;
    display: flex;

}

.intext {
    border-style: solid 1px aqua;
    border-radius: 10px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 10px;
}

/* for the mobile */

@media only screen and (max-width: 600px) {
    .text {
        align-items: center;
        display: inline;
        margin: auto;
    }

    .intext {
        border-style: solid 1px aqua;
        border-radius: 10px;
        border-right: 1px solid;
        border-left: 1px solid;
        border-bottom: 0;
        border-top: 0;
        padding: 10px;
    }

    section .wrapper {
        width: 350px;
        border-radius: 10px;
    }

    section span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}

/* For tablets */

@media (max-width: 900px)
{
    section span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
        overflow: hidden;
    }

    section .wrapper {
        width: 425px;
    }
}